@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&family=Open+Sans:wght@300;500&family=Roboto:wght@300;400&display=swap');


/*Some necessary adjustments*/
h1, body, html, main {
  margin: 0;
  padding: 0;
}
/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
/* Set width of all text content to 1000 px, pertains section elements and hr*/
section {
  width: 1000px;
  margin: 40px 0;
}
h2 {
  font-size: 1.6em;
  font-weight: 400;
  margin: 0;
}
hr {
  color: black;
  text-align: center;
  background-color: black;
  width: 100%;
  height: 1px;
}
ul, ol {
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.3em;
  counter-reset: listcounter;
  margin-left:-40px;
}
ul, ol > li {
  list-style: none;
}
ul > li:before {
  content: "- ";
}
ol > li:before {
  content: counter(listcounter) ") ";
  counter-increment: listcounter;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.header {
  background-image: url("../images/soup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  width: auto;
  height: 1000px;
  overflow: hidden;
  margin-top: -400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.heading {
  color: white;
  font-weight: 400;
  font-size: 5em;
  margin-top: 300px;
}
.description, .ingredients, .directions {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.description-text {
  font-size: 1.6em;
  font-weight: 300;
  text-align: left;
}
.ingredients-list {
  width: inherit;
  text-align: left;
}
.info-graphics {
  width: 400px;
  align-self: center;
  justify-self: center;
}
